---

import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
	<main class=" px-24 max-sm-5 max-w-7xl mx-auto w-full">
		<!-- 
		<h1 class="font-mono md:sans-serif 	text-center text-2xl lg:text-[5rem] lg:leading-[6rem] text-teal-900 font-semibold mb-5">جمعيةالبر والتعليم الإسلامي في قطنا </h1>
		<p class="text-zinc-900 text-2xl text-center lg:text-[2rem] mb-24 break-words line-clamp-3 lg:line-clamp-none max-sm:mb-14">الجمعية تهدف لتقديم أفضل الخدمات للجميع </p>
		<hr class="w-full border border-teal-900 mb-16 max-sm:mb-10">
		<div class="flex justify-center items-center pt-12">
		-->
		</div>
		<div class="grid md:grid-cols-2 items-center md:gap-8 gap-6 font-[sans-serif] max-w-5xl max-md:max-w-md mx-auto">
			<div class="max-md:order-1 max-md:text-center">
			  <h2 class="font-mono md:sans-serif md:text-4xl text-3xl md:leading-10 font-extrabold lg:text-[3rem] lg:leading-[5rem] text-gray-800 mb-4">جمعية البر والتعليم الإسلامي في قطنا </h2>
			  <p class="text-zinc-900 text-2xl text-center lg:text-[2rem] mb-24 break-words line-clamp-3 lg:line-clamp-none max-sm:mb-14">الجمعية تهدف لتقديم أفضل الخدمات للجميع .</p>
			  <div class="mt-8 flex max-sm:flex-col sm:space-x-4 max-sm:space-y-6">
				<a href="javascript:void(0);" class="px-6 py-3 text-base font-semibold text-white bg-[#f032e6] rounded-full hover:bg-opacity-80 transition-all duration-300 transform hover:scale-105 focus:ring-2 focus:ring-[#f032e6] focus:outline-none focus:ring-opacity-50">عن الجمعية</a>
				<a href="javascript:void(0);" class="px-6 py-3 text-base font-semibold text-[#f032e6] border border-[#f032e6] rounded-full hover:text-white hover:bg-[#f032e6] transition-all duration-300 transform hover:scale-105 focus:ring-2 focus:ring-[#f032e6] focus:outline-none focus:ring-opacity-50">إدعمنا</a>
			  </div>
			</div>
			<div class="md:h-[450px]">
			  <img src="/ch.png" class="w-full h-full object-cover rounded-lg shadow-xl" alt="Dining Experience" />
			</div>
		  </div>
	</main>
	
</Layout>
