---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="المركز الطبي">
  <Container>
    <div class="font-sans bg-white py-12 px-4 bg-gradient-to-r from-white via-[#E4FE66] to-[#55F5A3]">
		<div class="max-w-7xl max-md:max-w-md mx-auto max-md:text-center">
		  <h2 class="text-gray-800 lg:text-6xl md:text-5xl text-3xl font-extrabold lg:!leading-[64px] md:max-w-4xl"> المركز الطبي التابع للجمعية</h2>
		  <div class="grid md:grid-cols-2 gap-12 mt-6">
			<div>
			  <p class="text-gray-600 text-base leading-relaxed">يوفر المركز خدمات طبية لجمعي المواطنين بأسعار رمزية.</p>
			  <div class="mt-12 flex gap-4 items-center flex-wrap max-md:justify-center">
				<button type='button'
				  class="bg-[#55F5A3] hover:bg-green-400 transition-all text-gray-800 font-bold text-sm rounded-full px-6 py-3">Getting Started</button>
				<a href="javascript:void(0)" class="text-gray-800 text-sm font-bold underline max-sm:block whitespace-nowrap">API Documentation</a>
			  </div>
  
			   
			</div>
			<div>
			  <img src='/ee.png' class="shrink-0 w-full h-full rounded-md object-contain" />
			</div>
		  </div>
		</div>
	  </div>
	  
  </Container>
</Layout>
